.Pro_Card_Details{
    display: flex;
    justify-content: space-evenly;
    margin:70px 0px 70px 0px;
}


.Pro_Card{
    height: 160px;
    width: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    
    cursor: pointer;
    transition: 1s;
}
.redbg{
    background-image:url("../Assets/redbg.png");
    background-size: cover;
}
.bluebg{
    background-image:url("../Assets/bluebg.png");
    background-size: cover;
}
.orangebg{
    background-image:url("../Assets/orangebg.png");
    background-size: cover;
}
.Pro_Card:hover{
   transition: 1s;
   transform: scale(1.02);
}
.Pro_Card_Title{
    color: white;
    font-size: 20px;
    font-family:'poppins';
    font-weight: 100;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.Pro_Card_Title_Span{
    margin-left: 20px;
}
.Pro_Card_Icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 62px;
    margin-left: 20px;
    color: wheat;
}
.Pro_Card_Icon i {
    color: whitesmoke;
}
.Pro_Card_Icon_Span{
    font-size: 70px;
    font-family:'poppins';
    margin-right: 20px;
}