:root {
  --main-bg-color: #513dfe;
  --grey-color: #e7e5eb;
}

.hero {
  height: calc(100vh - 70px);
  background: linear-gradient(180deg, #ffffff, var(--grey-color) 60%);
  display: flex;
  /* background-image: url("../Assets/bg.svg");
  background-size: auto; */
}

.hero-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding-left: 60px;
  line-height: 1.2;
  word-spacing: 5px;
}
.hero-left h1 {
  font-size: 36px;
  color: black;
}
.hero-left h3 {
  font-size: 14px;
  color: black;
  font-weight: lighter;
}
.hero-left button {
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  width: 60%;
  font-weight: bold;
  margin-top: 10px;
  font-weight: 400;
  font-family: "poppins";
  background-color: rgb(6, 6, 36);
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  box-shadow: 4px 4px rgb(72, 72, 72);
  transition: 1s;
  display: flex;
  justify-content: center;
}
.hero-left button:hover {
  transform: translate(2px, 4px);
  box-shadow: 1px 2px grey;
  outline: none;
}
.hero-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 80px;
}
.hero-right img {
  height: 100%;
  width: 800px;
}
.number-details {
  width: 100%;
  align-items: center;
  display: flex;
  margin-top: 40px;
  justify-content: center;
  box-shadow: 3px 3px 0px rgb(6, 6, 36);
  border-radius: 10px;
}
.number-details h1 {
  font-size: 26px;
  margin-top: 0px;
  justify-content: center;
  display: flex;
  line-height: 1;
}
.number-details h3 {
  font-size: 10px;
  justify-content: center;
  display: flex;
  line-height: 1;
  font-weight: 800;
}
.happy_customers {
  flex: 1;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  background-color: #7d6efd;
}
.award_wining {
  flex: 1;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  background-color: rgb(198, 175, 252);
  border-radius: 0px 10px 10px 0px;
}
.pr_properties {
  flex: 1;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  background-color: rgb(198, 175, 252);
  border-radius: 10px 0px 0px 10px;
}
