:root {
  --main-bg-color: #513dfe;
  --grey-color: #e7e5eb;
}
.left-side-login img {
  width: 100%;
  align-items: center;
  margin-top: -30px;
  height: 500px;
}
.login-container {
  background-color: var(--grey-color);
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
  box-shadow: 2px 2px 1px black;
}
.right-side-login {
  align-items: center;
  text-align: center;
}

.right-side-login h1 {
  font-size: 36px;
  margin-top: -30px;
}

.right-side-login input {
  height: 40px;
  width: 80%;
  padding-left: 20px;
  border: 1px solid white;
  outline: none;
  color: black;
  font-size: 16px;
  border-radius: 12px;
  font-weight: 500;
  font-family: "poppins";
  border: 1px solid grey;
  margin-top: 18px;
}

.right-side-login input[type="date"] {
  color: black;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}

.right-side-login hr {
  border-radius: 50px;
}

.right-side-login button {
  width: 60%;
  padding: 10px;
  margin-top: 20px;
  border: none;
  font-family: "poppins";
  cursor: pointer;
  background-color: rgb(6, 6, 36);
  box-shadow: 2px 2px 4px black;
  border-radius: 10px;
  color: white;
}

.right-side-login button:hover {
  background-color: rgb(78, 78, 221);
  transition: 0.8s;
}

.right-side-login form{
    margin-top: 50px;
}

.user-type-input{
    display: flex;
    align-items: flex-start;
    align-items: center;
    margin-top: 20px;
}

.user-type-input label{
    margin-left: 70px;
    font-size: 22px;
}

.user-type-input select{
    margin-left: 20px;
    border-radius: 10px;
    padding: 10px;
    font-family: 'Poppins';
    background-color: rgb(6, 6, 36);
    color: white;
    border: none;
    cursor: pointer;
}

.input-error{
    text-align: left;
    margin-left: 70px;
    margin-bottom: 0px;
    margin-top: 0px;
    color: rgb(6, 6, 36);
    font-size: 15px;
}
