.maindiv{
   /* border:2px solid red;*/   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-color: var(--grey-color);
    margin-top: 20px;
}
.dcard{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 350px;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
   /* border:2px solid rgb(104, 96, 96);
   /* border-bottom-left-radius:34px;
    border-bottom-right-radius:34px;*/
    border-radius: 20px;
    box-shadow: 1px 1px 6px black;
    background-color: white;
    cursor: pointer;
    
}
.dcard:hover {
    transform: scale(1.01);
    transition: 0.6s;

}
.dcard img{
    border-radius: 18px;
    height: 500px;
    
}

/*Property Details secound div body Of Div*/
.p-npc{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 700px;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    /*border:2px solid rgb(104, 96, 96);
   /* border-bottom-left-radius:34px;
    border-bottom-right-radius:34px;*/
    border-radius: 20px;
    box-shadow: 1px 1px 6px black;
    background-color: white;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.p-npc:hover {
    transform: scale(1.01);
    transition: 0.6s;
    background-color:var(--grey-color);
}
.p-name{
    margin-top: 5px;
    height: 50x;
   /* border:2px solid green;*/
    padding-bottom: 0px;
    margin-left: 7px;
}
.p-price{
    text-align: center;
    display: flex;
    height: 150px;
    padding-bottom: 0px;
    margin-top: 7px;
    /*border:2px solid rgb(55, 0, 128);*/
}
.p-price li{
    color: rgb(0, 157, 255);
    list-style: none;
    margin-right:100px;
    margin-left: 7px;
    padding-bottom: 0px;
}
.p-price li:hover {
    transform: scale(1.01);
    transition: 0.6s;
    color:rgb(107, 19, 248);
}
/*.p-description{
   /* border: 2px solid black;
}*/
.p-contact{
    height: 140px;
    padding-top: 0px;
    /*border:2px solid rgb(128, 0, 0);*/
}
.btn1{
    width:300px;
    border:2px solid black;
    border-radius: 10px;
}
.btn1:hover{
    color:blue;
    border:2px solid black;
    transform: scale(1.01);
    transition: 0.6s;
}
.btn2{
    width:300px;
    border:2px solid black;
    border-radius: 10px;
}
.btn2:hover{
    color:rgb(3, 3, 14);
    border:2px solid black;
    transform: scale(1.01);
    transition: 0.6s;
}
hr{
    border:2px solid black;
}

/*Secound Main Div*/

.heading{
    /*border:2px solid red;*/
    text-align: center;
    background-color:#e7e5eb;
    box-shadow: 0 1px 3px -2px black;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.377);
}