.maindiv {
  /* border:2px solid red;*/
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--grey-color);
  margin-top: 20px;
}
.subdiv {
  display: flex;
  height: 600px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
}
.subdiv1 {
  border-radius: 20px;
  height: 80px;
  width: 80px;
}
.subdiv img {
  width: 100%;
  height: 100%;
  border-radius: 2px;
  cursor: pointer;
}
.subdiv1:hover {
  transform: scale(1.1);
  transition: 0.8s;
}
.dcard {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 500px;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border-radius: 8px;
  background-color: white;
  cursor: pointer;
  margin: 50px;
}
.dcard img {
  border-radius: 8px;
  height: 100%;
  width: 100%;
}

/*Property Details secound div body Of Div*/
.p-npc {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 700px;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  display: flex;
}
.p-name {
  height: 50x;
  padding-bottom: 0px;
  margin-left: 7px;
}
.property-numbers {
  text-align: center;
  display: flex;
  margin-top: 7px;
  justify-content: space-around;
}
.property-numbers li {
  color:white;
  list-style: none;
  margin-right: 10px;
  margin-left: 7px;
  background-color: rgb(6, 6, 36);
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: 100;
  box-shadow: 1px 5px rgb(67, 65, 65);
  cursor: pointer;
}

.property-numbers li h3{
    font-weight: 400;
}

.property-numbers li:hover {
  transition: 1s;
  color:wheat;
  transform: translate(0px, 4px);
  box-shadow: 1px 2px grey;
  outline: none;
  
}
.property-numbers p{
    font-size: 12px;
    color: grey;
    font-weight: 400;
    margin-bottom: 0px;
}
hr {
  border: 2px solid black;
}

.property-price{
    display: flex;
    font-size: 26px;
}

/*Secound Main Div*/

.heading {
  /*border:2px solid red;*/
  text-align: center;
  background-color: #e7e5eb;
  box-shadow: 0 1px 3px -2px black;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.377);
}
.contact-details {
  display: flex;
  justify-content: center;
}
.contact-details button {
  padding: 10px;
  width: 50%;
  font-weight: 400;
  font-family: "poppins";
  background-color: rgb(6, 6, 36);
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  box-shadow: 4px 4px rgb(72, 72, 72);
  transition: 1s;
}
.contact-details button:hover {
  transform: translate(2px, 4px);
  box-shadow: 1px 2px grey;
  outline: none;
}

.p-description{
    margin-top: 20px;
}

.card-title{
    font-size: 48px;
    margin-bottom: 0px;
}
