:root {
    --main-bg-color: #513DFE;
    --grey-color:#e7e5eb;
  }
.left-side img{
    width: 100%;
    align-items: center;  
    margin-top: -30px; 
}
.ten-container{
    background-color: var(--grey-color);
    border-radius: 20px;
    padding: 10px;
    margin: 20px;
    box-shadow: 2px 2px 1px black;

}

.lan-container{
    background-color: var(--grey-color);
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    box-shadow: 2px 2px 1px black;
}

.right-side{
    align-items: center;
    text-align: center;
   
}

.right-side h1{
    font-size: 36px;
    margin-top: -30px;
}

.right-side input{
    height: 40px;
    width: 80%;
    padding-left: 20px;
    border: 1px solid white;
    outline: none;
    color: black;
    font-size: 16px;
    border-radius: 12px;
    font-weight: 500;
    font-family: 'poppins';
    border: 1px solid grey;
    margin-top: 18px;
}

.right-side input[type=date]{
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}

.right-side hr{
    border-radius: 50px;
}

.right-side button{
    width: 60%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    font-family: 'poppins';
    cursor: pointer;
    background-color: rgb(6, 6, 36);
    box-shadow: 2px 2px 4px black;
    border-radius: 10px;
    color: white;
}

.right-side button:hover{
    background-color: rgb(78, 78, 221);
    transition: 0.8s;
    
}

.gender{
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    cursor: pointer;
    margin-top: 30px;
    vertical-align: middle;
    background-color: rgb(6, 6, 36);
    color: white;
    padding: 10px;
    border-radius: 8px;
}
.gender-val[type=radio]{
    cursor: pointer;
    width: 23px;
    height: 23px;
    accent-color: rgb(6,6,36);
    margin-top: 0px;
}
.gender label{
    font-size: 18px;
    cursor: pointer;
    margin-left: -30px;
    align-items: center;
    vertical-align: middle;    
}
.city-input{
    display: flex;
    align-items: flex-start;
    align-items: center;
    margin-top: 20px;
}

.city-input label{
    margin-left: 70px;
    font-size: 22px;
}

.city-input select{
    margin-left: 20px;
    border-radius: 10px;
    padding: 10px;
    font-family: 'Poppins';
    background-color: rgb(6, 6, 36);
    color: white;
    border: none;
    cursor: pointer;
}

.input-error{
    text-align: left;
    margin-left: 70px;
    margin-bottom: 0px;
    margin-top: 0px;
    color: rgb(6, 6, 36);
    font-size: 15px;
}

.gender .title{
   color: rgb(6, 6, 36);
   font-size: 22px;
   background-color: var(--grey-color);
   border-radius: 8px;
   padding-left: 5px;
   padding-right: 5px;
   vertical-align: middle;
   margin-top: 5px;

}

.marital .title{
    color: rgb(6, 6, 36);
    font-size: 22px;
    background-color: var(--grey-color);
    border-radius: 8px;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: middle;
    margin-top: 5px;
 }


 .marital{
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    cursor: pointer;
    margin-top: 30px;
    vertical-align: middle;
    background-color: rgb(6, 6, 36);
    color: white;
    padding: 10px;
    border-radius: 8px;
}
.marital-val[type=radio]{
    cursor: pointer;
    width: 23px;
    height: 23px;
    accent-color: rgb(6,6,36);
    margin-top: 0px;
}
.marital label{
    font-size: 18px;
    cursor: pointer;
    margin-left: -30px;
    align-items: center;
    vertical-align: middle;    
}

