:root {
    --main-bg-color: #513DFE;
    --grey-color:#e7e5eb;
  }
.navbar{
    display: flex;
    justify-content: space-around;
    box-shadow: 0 1px 3px -2px black ;
    background-color: var(--grey-color);
    align-items: center;
}
.navbar h1{
    font-size: 48px;
    font-weight: 600;
    cursor: pointer;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.377);
}
.nav-menu{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 50px;
    color: black;
    font-size: 18px;    
    margin-left: 420px;
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: black;
    margin-top: 10px;
}
.register button{
    padding: 10px 20px;
    background-color: white;
    color: var(--main-bg-color);
    border: none;
    border-radius: 12px;
    font-size: 18px;
    font-weight: bolder;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.562);
    cursor: pointer;
    font-family: 'poppins';
}
.register button:hover{
    background-color: var(--main-bg-color);
    color: var(--grey-color);
    transition: 1.2s;
}
.nav-menu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 20px;
    background: black;
}